@media screen and (max-width: 1024px) {
    #HeaderWrapper {
        margin-bottom: 0px;
        border: none;
    }
    #MainWrapper {
        margin:0px;
    }
    #MainMenu {
        float:none;
        width:100%;
        background-color: #FAF7F7;
        margin-bottom: 20px;
        box-shadow: 0 4px 4px 0 #E5E5E5;
    }
    #MainMenu ul {
        padding: 0px;
        border-top: 1px solid #CFCACA;
        border-bottom: 1px solid #CFCACA;
        padding-left: 18px;
    }
    #MainMenu li {
        display: inline-block;
        margin: 0.5em 0;
    }
    #Content {
        border-radius: 0px;
        margin: 0px;
        border: none;
    }
    #FooterWrapper {
        display: none;
    }
}